@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
}
html,body{
	width:100%;
	height:100%;
}
.row{
    margin:0;
	padding:0;
}
.tit{
    font-weight: bold;
    text-align: center;
	line-height: 3rem;
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #fff;
}
.cont{
    margin-top:6rem;
}
.kh{
    text-align:center;
	font-weight:bold;
	color:#cc0000;
} 
.cont_1{
    color:gray;
	text-indent:2rem;
	line-height:2.5rem;
}

.btn1{
    padding-right: 0px; 
    padding-left: 0px; 
}
.btn{
    width:100%;
}
.bott{
    margin-top:0.5rem;
}