@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
}
html,body{
	width:100%;
	height:100%;
}
.row{
    margin:0;
	padding:0;
}
.tit{
    font-weight: bold;
    text-align: center;
	line-height: 3rem;
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #fff;
}
.zd{
    margin-top:5rem;
	width:20rem;
	margin:0 auto;
	padding-bottom:2rem;
}
.cont{
    margin-top:7rem;
}
.times{
    font-weight:bold;
	color:#cc0000;
}
.hang{
    padding-bottom:2rem;
}
