@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
}
html,body{
	width:100%;
	height:100%;
}
/*导航开始*/
.logo{
    margin-top:-1em;
}
/*导航结束*/

/*巨幕开始*/
.con{
    margin-top:50px;
    background-image:url("images/bg.jpg");
    color:#ccc;
    padding:5em 15em ;
	
}
/*巨幕结束*/

/*内容开始*/
.con_cen{
    background-color:#ECECEC;
	padding-bottom:2em;
	padding-top:3em;
}
.con_right{
    border:1px solid lightgray;
	background-color:#fff;
	line-height:2.5em;
	padding-bottom:2em;
	box-shadow:2px 2px 2px gray;
}
.a{
    margin-top:2em;
}
/*内容结束*/

/*底部开始*/
.bottom{
   background-color:gray;
   width:100%;
   height:6em;
}
.bottom_wz{
   padding-top:1em;
   text-align:center;
   
}
.bottom_wz > small{
   line-height:2em;
   color:lightgray;
}
/*底部结束*/
